<div class="md-12 text-center">
<%= image_tag 'assc_logo.png' %>
</div>
<br><br>
<div class="md-12 text-center">
  <%= button_to 'Начать тест', tests_intro_path, class: 'btn btn-success', method: 'get'  %>
</div>
