<div class="text-center"><h3>Пожалуйста прочтите перед началом</h3></div>
<br><br><br>
<div class="col-md-offset-2 col-md-8">
<div class="well">
<p><strong>1.</strong> Просьба представить о себе информацию в форме внизу</p>
<p><strong>2.</strong> Откройте слайд «Распределение». Пожалуйста, постарайтесь понять, на какие именно "Критерии oценки" (пункт анкеты) Вас просят ответить .</p>
<p><strong>3.</strong> Пожалуйста, посмотрите слайд "Анкета" и свой личный балл на приведенном там "Критерии оценки"
Пожалуйста, постарайтесь объяснить, почему Вы получили баллы в "Критериях оценки" в бланке "Опишите Ваши мероприятия, планы и т.д."</p>
<p><strong>4.</strong> Просьба закрепить электронный файл (word, pdf), документ, содержащий информацию, которую Вы использовали для высчета личного балла.</p>
<p><strong>5.</strong> В том случае, если у Вас нет такого документа, просьба подробно и детально описать прчичину, по которой у Вас его нет или по которой Вы не можете его прикрепить.</p>
<p><strong>6.</strong> "В том случае, если у Вас 0 баллов, объясните, почему Ваш университет не осуществляет соответствующую деятельность.
Например, если это связано с системой и законодательством Вашей страны, пожалуйста, дайте подробный ответ, так как у нас возникает научный интерес к этому вопросу.</p>
<p><strong>7.</strong> В том случае, если данная деятельность не осуществляется ввиду отсутствия стратегии и плана развития в Вашем университете, опишите это в Вашем ответе. "</p>
<p><strong>8.</strong> "Если ваше предприятие не отвечает нашим критериям, напишите об этом в бланке. В том случае если Вы знаете другие образовательные учреждения, отвечающие нашим критериям,
пожалуйста, напишите их названия."</p>
</div>
<p>Ваше имя</p>
<p>подразделение (департамент, отдел, управление, институт)
должность</p>
<p>Контактная информация</p>

</div>
<div class="col-md-12 text-center">
<%= button_to 'Начать тест', tests_take_path, method: 'get', class: 'btn btn-success' %>
</div>
